/vendor/
/node_modules/
/public/build/
/public/hot
/.env
/.env.*
!/.env.example
/.local/
/.bootstrap/
/.phpunit.cache/
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/.idea/
/.vscode/
.DS_Store
Thumbs.db
